html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: calc(100vh - 60px); 
}


.carousel-container {
  width: 100%;
  height: 92vh; 
  position: relative;
}

.image-carousel {
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%; /* Selalu bulat */
  background: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
}

.dot:hover {
  background: #999;
  transform: scale(1.2);
}

.dot.active {
  background: #ff4500;
  width: 12px; 
  height: 12px; 
  border-radius: 50%; 
}