* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: linear-gradient(135deg,#fffafa 0%, #ffffff 100%);
  width: 100%;
  /* padding:3.5rem 0 */
}
.home-container { 
  /* max-width:1200px; */
  margin:0 auto;
  /* padding:0 1.5rem */
}

/* welcome */
.welcome-section { 
  text-align:center;
  padding-top: 50px; 
  padding-bottom: 100px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* padding: 30px; */
}
.tagline { 
  font-size:3rem; 
  color:black; 
  font-weight:800; 
  margin-bottom:.6rem;
  font-family: 'Londrina Solid', sans-serif; 
}
.description { 
  color:var(--muted); 
  max-width:760px; 
  margin:0 auto 1.2rem; 
  line-height:1.7;
  font-size: 25px;
}
.cta-buttons { 
  display:flex; 
  gap:12px; 
  justify-content:center;
}
/* .btn-primary{ background:var(--accent); color:#fff;  box-shadow:0 4px 15px rgba(255,69,0,0.3) }
.btn-primary:hover{ background:#e03e00; transform:translateY(-2px); box-shadow:0 6px 20px rgba(255,69,0,0.4) } */

/* buttons shared */
.btn { 
  padding:.8rem 1.8rem; 
  border-radius:10px; 
  text-decoration:none; 
  font-weight:700; 
  display:inline-block 
}
.btn-primary { 
  background:#fff; 
  color:#000000; 
  border:1px solid rgb(51, 51, 51); 
  box-shadow: 0 4px 15px rgba(255,69,0,0.3) 
}
.btn-secondary { 
  background:#c0392b; 
  color:white; 
  box-shadow: 0 4px 15px rgba(255,69,0,0.3) 
}
.btn-secondary:hover { 
  background: #d82713; 
  transform: translateY(-2px); 
  box-shadow: 0 6px 20px rgba(255, 69, 0, 0.4) 
}

/* MENU UNGGULAN */
.menu-section { 
  margin:2rem 0;
  background-color: #f3f3f3;
  /* padding: 2rem 0; */
  height: 65vh;
}
.section-heading {
  /* justify-self: center; */
  font-size:2.5rem;
  margin-bottom:1rem;
  padding: 30px 20px 20px 30px;
  /* padding-top: 20px; */
  /* padding-bottom: 25px; */
  font-weight:800; 
  color:#222;
  font-family: 'Londrina Solid', sans-serif;
  text-decoration: none;
}
.menu-direct{
  align-self: center;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #c0392b;
  text-decoration: none;
}
.menu-direct:hover{
  text-decoration: underline;
}
.menu-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.menu-grid { 
  display:grid; 
  grid-template-columns: repeat(3,1fr); 
  gap:1.2rem 
}
.menu-card { 
  background:var(--card-bg); 
  border-radius:12px; 
  overflow:hidden; 
  /* box-shadow:0 6px 20px rgba(0,0,0,0.06);  */
  display:flex; 
  flex-direction:column 
}
.menu-card img { 
  width:100%; 
  height:250px; 
  object-fit:cover 
}
.menu-body { 
  padding:12px;
  align-self: center;
  padding-top: 20px;
}
.menu-body h4 { 
  margin:0 0 6px; 
  font-size:24px;
  font-family: 'Gotham', sans-serif; 
}
.menu-body .price { 
  color:var(--accent); 
  font-weight:700; 
  margin-bottom:8px 
}
.menu-btn { 
  display:inline-block; 
  padding:8px 12px; 
  background:var(--accent); 
  color:#fff; 
  border-radius:8px; 
  text-decoration:none; 
  font-weight:700 
}