* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: linear-gradient(135deg,#fffafa 0%, #ffffff 100%);
  width: 100%;
}

.home-container { 
  margin:0 auto;
}

.welcome-section { 
  text-align:center;
  height:70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.tagline { 
  font-size:3rem; 
  color:black; 
  font-weight:800; 
  margin-bottom:.6rem;
  font-family: "Slabo 27px", serif;
}
.description { 
  color:var(--muted); 
  max-width:760px; 
  margin:0 auto 1.2rem; 
  line-height:1.7;
  font-size: 25px;
}
.cta-buttons { 
  display:flex; 
  gap:12px; 
  justify-content:center;
}

.btn { 
  padding:.8rem 1.8rem; 
  border-radius:10px; 
  text-decoration:none; 
  font-weight:700; 
  display:inline-block 
}
.btn-primary { 
  background:#fff; 
  color:#000000; 
  border:1px solid rgb(51, 51, 51); 
}
.btn-secondary { 
  background:#c0392b; 
  color:white; 
}
.btn-secondary:hover { 
  background: #d82713; 
  transform: translateY(-2px); 
}

.menu-section { 
  margin:0.5rem;
  background-color: #f3f3f3;
  padding:0.5rem;
  border-radius:12px;
}

.section-heading {
  font-size: 2.8rem;
  font-weight: 800;
  color: #222;
  padding: 20px 0;
  font-family: "Slabo 27px", serif;
}

.menu-direct {
  display: block;       
  text-align: center;  
  margin: 30px 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.menu-direct:hover {
  text-decoration: underline;
  color: #e74c3c;
}

.menu-name {
  display: flex;
  flex-direction: column;    
  align-items: center;    
  text-align: center;
  margin-bottom: 20px;
}

.menu-grid { 
  display:grid; 
  grid-template-columns: repeat(3,1fr); 
  gap:1.2rem 
}

.menu-card { 
  background:var(--card-bg);
  border-radius:12px; 
  overflow:hidden; 
  display:flex; 
  flex-direction:column;
  transition: all 0.3s ease;
}

.menu-card img { 
  width:100%; 
  height:250px; 
  object-fit:cover 
}

.menu-body { 
  padding:20px;
  width: 100%;
  text-align: center;
  background-color:#f0d680;
}

.menu-body h4 { 
  margin:0 0 6px; 
  font-size:24px;
  font-family: "Slabo 27px", serif;
}

.menu-body .price { 
  color:var(--accent); 
  font-weight:700; 
  margin-bottom:8px 
}

.menu-btn { 
  display:inline-block; 
  padding:8px 12px; 
  background:var(--accent); 
  color:#fff; 
  border-radius:8px; 
  text-decoration:none; 
  font-weight:700 
}