@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.location {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Slabo 27px", serif;
}

.location h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.location-card {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 330px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 24px;
  text-align: left;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.card .time {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #d64531;
  font-weight: 600;
  margin: 14px 0;
}
span {
  color: black;
}
.detail-btn {
  background-color: transparent;
  border: 1.8px solid #d64531;
  color: #d64531;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.detail-btn:hover {
  background-color: #d64531;
  color: #fff;
}
