@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-header,
.review {
  flex-shrink: 0;
}

.review {
  text-align: center;
  padding: 40px 20px;
  font-family: "Slabo 27px", serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.review h2 {
  text-align: center;
  font-size: 3.2rem;
  color: #000;
  margin-bottom: 50px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.Card-Review {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.Review-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(320px, 1fr);
  overflow-x: auto;
  padding-bottom: 10px;
  gap: 30px;
  justify-items: center;
}

.review-card {
  background: #fff;
  border: 1px solid #d64531;
  border-radius: 16px;
  padding: 25px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 360px;
}

.review-card:hover {
  transform: translateY(-5px);
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.star {
  font-size: 22px;
  color: #ccc;
}

.star.filled {
  color: #d64531;
}

.review-comment {
  font-size: 1rem;
  color: #333;
  margin-bottom: 18px;
  text-align: center;
  font-style: italic;
  min-height: 60px;
}

.reviewer-name {
  text-align: center;
  font-size: 1.1rem;
  color: #d64531;
  margin-bottom: 5px;
}

.review-date {
  text-align: center;
  font-size: 0.85rem;
  color: #888;
}

.submit-section {
  text-align: center;
  margin-top: 60px;
}

.add-review-btn {
  display: inline-block;
  background-color: #d64531;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.add-review-btn:hover {
  background-color: #b73727;
}

.review-card.hide {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.review-card.show {
  opacity: 1;
  transform: translateY(0);
}

.story-header:not(.show),
.timeline-item:not(.show),
.menu-item:not(.show) {
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.story-header.show,
.timeline-item.show,
.menu-item.show {
    opacity: 1;
    transform: translateX(0);
}