@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}
.main-header,
.story-section {
flex-shrink: 0;
}

.story-section {
  text-align: center;
   padding: 6px 3vw;
  font-family: "Slabo 27px", serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.story-header {
  text-align: center;
}

.story-header h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 90%;
  border-left: dashed 5px #d64531;
}

.timeline-item {
  display: flex;
  margin-bottom: 100px;
  position: relative;
  align-items: center;
  gap: 50px;
}

.timeline-item.kiri, .timeline-content.kiri {
  justify-content: flex-start;
  margin-right:auto;
  margin-left: 0;
}

.timeline-item.kanan{
  justify-content:flex-end
}

.timeline-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #b73727;
  border-radius: 50%;
  border: 3px solid #1a1a1a;
  z-index: 10;
}

.timeline-content {
  flex: 1;
}

.timeline-year {
  font-size: 1.8rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: justify;
}

.timeline-title {
  font-size: 3rem;
  color: #d64531;
  margin-bottom: 15px;
  font-weight: bold;
  text-align:justify;
}

.timeline-description {
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: justify;
}

.timeline-image {
  flex: 1;
}

.timeline-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.story-header {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transform: translateY(30px);
  will-change: opacity, transform;
}

.timeline-item {
  opacity: 0;
  transition: opacity 0.6s ease-out; 
  will-change: opacity;
}

.timeline-item .timeline-content,
.timeline-item .timeline-image {
  transition: transform 0.8s ease-out; 
  will-change: transform;
}

.timeline-item.kiri .timeline-content {
  transform: translateX(-100px); 
}
.timeline-item.kiri .timeline-image {
  transform: translateX(100px); 
}

.timeline-item.kanan .timeline-image {
  transform: translateX(-100px);
}
.timeline-item.kanan .timeline-content {
  transform: translateX(100px); 
}

.story-header.show {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item.show {
  opacity: 1;
}

.timeline-item.show .timeline-content,
.timeline-item.show .timeline-image {
  transform: translateX(0);
}
